RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

RewriteRule ^upload-photo$ core/upload-photo.php [L]
RewriteRule ^upload-multiple-photo$ core/upload-multiple-photo.php [L]
RewriteRule ^upload-files$ core/upload-files.php [L]

# HOME - BANNER
RewriteRule ^banner$ controllers/developer/home/banner/banner.php [L]
RewriteRule ^banner/([0-9]+)$ controllers/developer/home/banner/banner.php?home_bannerid=$1 [L]

# HOME - TESTIMONIALS
RewriteRule ^testimonials$ controllers/developer/home/testimonials/testimonials.php [L]
RewriteRule ^testimonials/([0-9]+)$ controllers/developer/home/testimonials/testimonials.php?home_testimonialid=$1 [L]

# HOME - INSIGHT
RewriteRule ^insights$ controllers/developer/home/insights/insights.php [L]
RewriteRule ^insights/([0-9]+)$ controllers/developer/home/insights/insights.php?home_insightsid=$1 [L]
RewriteRule ^insights/active/([0-9]+)$ controllers/developer/home/insights/active.php?home_insightsid=$1 [L]

# HOME - PROCESS
RewriteRule ^process$ controllers/developer/home/process/homeProcess.php [L]
RewriteRule ^process/([0-9]+)$ controllers/developer/home/process/homeProcess.php?home_processid=$1 [L]

# HOME - SERVICES
RewriteRule ^services$ controllers/developer/home/services/homeServices.php [L]
RewriteRule ^services/([0-9]+)$ controllers/developer/home/services/homeServices.php?home_servicesid=$1 [L]

# HOME - PARTNER WITH US 
RewriteRule ^partnerWithUs$ controllers/developer/home/partner-with-us/homePartnerWithUs.php [L]
RewriteRule ^partnerWithUs/([0-9]+)$ controllers/developer/home/partner-with-us/homePartnerWithUs.php?home_partner_with_usid=$1 [L]

# CONTACT FORM DEFAULT
RewriteRule ^contactDefault$ controllers/developer/contact-form-default/contactFormDefault.php [L]
RewriteRule ^contactDefault/([0-9]+)$ controllers/developer/contact-form-default/contactFormDefault.php?contact_form_default_id=$1 [L]

# HOME -TITLES
RewriteRule ^homeTitles$ controllers/developer/home/home-titles/homeTitles.php [L]
RewriteRule ^homeTitles/([0-9]+)$ controllers/developer/home/home-titles/homeTitles.php?home_titlesid=$1 [L]

# FOOTER
RewriteRule ^footer$ controllers/developer/footer/footer.php [L]
RewriteRule ^footer/([0-9]+)$ controllers/developer/footer/footer.php?footerid=$1 [L]

# SPECIAL OFFERS
RewriteRule ^specialOffers$ controllers/developer/special-offers/specialOffers.php [L]
RewriteRule ^specialOffers/([0-9]+)$ controllers/developer/special-offers/specialOffers.php?special_offersid=$1 [L]

# Why FBS - EVENTS AND ACTIVITIES
RewriteRule ^eventsAndAct$ controllers/developer/events-and-activities/eventsAndActivities.php [L]
RewriteRule ^eventsAndAct/active/([0-9]+)$ controllers/developer/events-and-activities/active.php?events_activitiesid=$1 [L]
RewriteRule ^eventsAndAct/([0-9]+)$ controllers/developer/events-and-activities/eventsAndActivities.php?events_activitiesid=$1 [L]
RewriteRule ^eventsAndAct/page/([0-9]+)$ controllers/developer/events-and-activities/page.php?start=$1 [L]
RewriteRule ^eventsAndAct/search$ controllers/developer/events-and-activities/search.php [L]

# Why FBS - CAREERS
RewriteRule ^careers$ controllers/developer/careers/careers.php [L]
RewriteRule ^careers/([0-9]+)$ controllers/developer/careers/careers.php?careersid=$1 [L]

# LCSS BATCHES
RewriteRule ^lcssBatches$ controllers/developer/lcss-batches/lcssBatches.php [L]
RewriteRule ^lcssBatches/([0-9]+)$ controllers/developer/lcss-batches/lcssBatches.php?lcss_batchid=$1 [L]
RewriteRule ^lcssBatches/page/([0-9]+)$ controllers/developer/lcss-batches/page.php?start=$1 [L]
RewriteRule ^lcssBatches/search$ controllers/developer/lcss-batches/search.php [L]

# INDUSTRY TESTIMONIAL
RewriteRule ^indTestimonial$ controllers/developer/industry-testimonial/industryTestimonial.php [L]
RewriteRule ^indTestimonial/([0-9]+)$ controllers/developer/industry-testimonial/industryTestimonial.php?industry_testimonialid=$1 [L]
RewriteRule ^indTestimonial/page/([0-9]+)$ controllers/developer/industry-testimonial/page.php?start=$1 [L]
RewriteRule ^indTestimonial/search$ controllers/developer/industry-testimonial/search.php [L]

# VIDEO TESTIMONIAL
RewriteRule ^vid-testimonial$ controllers/developer/vid-testimonial/vidTestimonial.php [L]
RewriteRule ^vid-testimonial/([0-9]+)$ controllers/developer/vid-testimonial/vidTestimonial.php?vid_testimonialid=$1 [L]
RewriteRule ^vid-testimonial/page/([0-9]+)$ controllers/developer/vid-testimonial/page.php?start=$1 [L]
RewriteRule ^vid-testimonial/search$ controllers/developer/vid-testimonial/search.php [L]

# SENDING EMAIL
RewriteRule ^sending-email$ controllers/developer/sending-email/sending-email.php [L]

# NOTIFICATIONS
RewriteRule ^notification-email$ controllers/developer/notification/notification.php [L]
RewriteRule ^notification-email/([0-9]+)$ controllers/developer/notification/notification.php?notificationId=$1 [L]
RewriteRule ^notification-email/active/([0-9]+)$ controllers/developer/notification/active.php?notificationId=$1 [L]
RewriteRule ^notification-email/page/([0-9]+)$ controllers/developer/notification/page.php?start=$1 [L]
RewriteRule ^notification-email/search$ controllers/developer/notification/search.php [L] 

# NOTIFICATION LOG
RewriteRule ^notificationlog$ controllers/developer/notification-log/notificationLog.php [L]
RewriteRule ^notificationlog/([0-9]+)$ controllers/developer/notification-log/notificationLog.php?notificationLogId=$1 [L]
RewriteRule ^notificationlog/page/([0-9]+)$ controllers/developer/notification-log/page.php?start=$1 [L]
RewriteRule ^notificationlog/search$ controllers/developer/notification-log/search.php [L] 

# PARTNERS
RewriteRule ^partners$ controllers/developer/partners/partners.php [L]
RewriteRule ^partners/([0-9]+)$ controllers/developer/partners/partners.php?partnersid=$1 [L]
RewriteRule ^partners/page/([0-9]+)$ controllers/developer/partners/page.php?start=$1 [L]
RewriteRule ^partners/search$ controllers/developer/partners/search.php [L]

# GALLERY
RewriteRule ^gallery$ controllers/developer/gallery/gallery.php [L]
RewriteRule ^gallery/([0-9]+)$ controllers/developer/gallery/gallery.php?galleryid=$1 [L]

# USER - ROLE
RewriteRule ^role$ controllers/developer/user/role/role.php [L]
RewriteRule ^role/([0-9]+)$ controllers/developer/user/role/role.php?roleId=$1 [L]
RewriteRule ^role/active/([0-9]+)$ controllers/developer/user/role/active.php?roleId=$1 [L]
RewriteRule ^role/page/([0-9]+)$ controllers/developer/user/role/page.php?start=$1 [L]
RewriteRule ^role/search$ controllers/developer/user/role/search.php [L] 

### SETTINGS USERS OTHER ###
RewriteRule ^user-other$ controllers/developer/user/other-user/user-other.php [L]
RewriteRule ^user-other/([0-9]+)$ controllers/developer/user/other-user/user-other.php?userid=$1 [L]
RewriteRule ^user-other/page/([0-9]+)$ controllers/developer/user/other-user/page.php?start=$1 [L]
RewriteRule ^user-other/search$ controllers/developer/user/other-user/search.php [L]
RewriteRule ^user-other/active/([0-9]+)$ controllers/developer/user/other-user/active.php?userid=$1 [L]
RewriteRule ^user-other/verify-email/(.*)$ controllers/developer/user/other-user/update-email.php?userkey=$1 [L]
RewriteRule ^user-other/key/(.*)$ controllers/developer/user/other-user/key.php?userkey=$1 [L]
RewriteRule ^user-other/password$ controllers/developer/user/other-user/set-password.php [L]
RewriteRule ^user-other/login$ controllers/developer/user/other-user/login.php [L]
RewriteRule ^user-other/token$ controllers/developer/user/other-user/token.php [L]
RewriteRule ^user-other/reset$ controllers/developer/user/other-user/reset-password.php [L]
RewriteRule ^user-other/role$ controllers/developer/user/other-user/role.php [L] 

### SETTINGS USERS DEVELOPER ### 
RewriteRule ^user-developer$ controllers/developer/user/developer/developer.php [L]
RewriteRule ^user-developer/([0-9]+)$ controllers/developer/user/developer/developer.php?userdeveloperid=$1 [L]
RewriteRule ^user-developer/page/([0-9]+)$ controllers/developer/user/developer/page.php?start=$1 [L]
RewriteRule ^user-developer/search$ controllers/developer/user/developer/search.php [L]
RewriteRule ^user-developer/active/([0-9]+)$ controllers/developer/user/developer/active.php?userdeveloperid=$1 [L]
RewriteRule ^user-developer/verify-email/(.*)$ controllers/developer/user/developer/update-email.php?userdeveloperkey=$1 [L]
RewriteRule ^user-developer/key/(.*)$ controllers/developer/user/developer/key.php?userdeveloperkey=$1 [L]
RewriteRule ^user-developer/password$ controllers/developer/user/developer/set-password.php [L]
RewriteRule ^user-developer/login$ controllers/developer/user/developer/login.php [L]
RewriteRule ^user-developer/token$ controllers/developer/user/developer/token.php [L]
RewriteRule ^user-developer/reset$ controllers/developer/user/developer/reset-password.php [L]
RewriteRule ^user-developer/role$ controllers/developer/user/developer/role.php [L] 
 
# SUBSCRIBER
RewriteRule ^subscribe$ controllers/developer/subscribe/subscribe.php [L]
RewriteRule ^subscribe/([0-9]+)$ controllers/developer/subscribe/subscribe.php?subscribeid=$1 [L]
RewriteRule ^subscribe/page/([0-9]+)$ controllers/developer/subscribe/page.php?start=$1 [L]
RewriteRule ^subscribe/search$ controllers/developer/subscribe/search.php [L]
RewriteRule ^subscribe/active/([0-9]+)$ controllers/developer/subscribe/active.php?subscribeid=$1 [L]
RewriteRule ^subscribe/notif$ controllers/developer/subscribe/notification-subscriber.php [L]
RewriteRule ^subscribe/key/(.*)$ controllers/developer/subscribe/key.php?subscriberkey=$1 [L]
RewriteRule ^subscribe/unsubscribe/(.*)$ controllers/developer/subscribe/update-unsubscribe.php?subscriberkey=$1 [L]
RewriteRule ^subscribe/restore-key/([0-9]+)$ controllers/developer/subscribe/restore-key.php?subscribeid=$1 [L]
RewriteRule ^subscribe/create-subscriber$ controllers/developer/subscribe/create-subscriber.php?subscribeid=$1 [L]
RewriteRule ^subscribe/audience$ controllers/developer/subscribe/readAllAudience.php [L]

# SENDING NEWSLETTER
RewriteRule ^sending-newsletter$ controllers/developer/sending-newsletter/sending-newsletter.php [L]
RewriteRule ^sending-newsletter/create$ controllers/developer/sending-newsletter/create.php [L]
RewriteRule ^subscriber-search$ controllers/developer/sending-newsletter/search-subscribers.php [L]

# AUDIENCE
RewriteRule ^audience$ controllers/developer/audience/audience.php [L]
RewriteRule ^audience/([0-9]+)$ controllers/developer/audience/audience.php?audienceId=$1 [L]
RewriteRule ^audience/active/([0-9]+)$ controllers/developer/audience/active.php?audienceId=$1 [L]
RewriteRule ^audience/page/([0-9]+)$ controllers/developer/audience/page.php?start=$1 [L]
RewriteRule ^audience/search$ controllers/developer/audience/search.php [L] 

# MAILER LOG
RewriteRule ^mailer-log$ controllers/developer/mailer-log/mailerLog.php [L]
RewriteRule ^mailer-log/page/([0-9]+)$ controllers/developer/mailer-log/page.php?start=$1 [L]
RewriteRule ^mailer-log/search$ controllers/developer/mailer-log/search.php [L] 
RewriteRule ^mailer-log/update-mailer$ controllers/developer/mailer-log/update-mailer.php [L] 
RewriteRule ^mailer-log/delete-mailer/([0-9]+)$ controllers/developer/mailer-log/delete-mailer.php?mailerId=$1 [L]
RewriteRule ^mailer-log/resend-mailer$ controllers/developer/mailer-log/resending-newsletter.php [L]
RewriteRule ^mailer-log/update-mailer-subject-content/([0-9]+)$ controllers/developer/mailer-log/update-mailer-subject-content.php?mailerId=$1 [L]

# SERVICES - WEB APPLICATION - HR INFORMATION SYSTEM
RewriteRule ^hris$ controllers/developer/services/web-application/hr-information-system/hris-banner/hrisBanner.php [L]
RewriteRule ^hris/([0-9]+)$ controllers/developer/services/web-application/hr-information-system/hris-banner/hrisBanner.php?hris_bannerid=$1 [L]

# PACKAGES - CATEGORY
RewriteRule ^packages-category$ controllers/developer/packages/category/packages-category.php [L]
RewriteRule ^packages-category/([0-9]+)$ controllers/developer/packages/category/packages-category.php?packages_categoryId=$1 [L]
RewriteRule ^packages-category/active/([0-9]+)$ controllers/developer/packages/category/active.php?packages_categoryId=$1 [L]
RewriteRule ^packages-category/page/([0-9]+)$ controllers/developer/packages/category/page.php?start=$1 [L]
RewriteRule ^packages-category/search$ controllers/developer/packages/category/search.php [L] 

# PACKAGES - LIST
RewriteRule ^packages-list$ controllers/developer/packages/list/packages-list.php [L]
RewriteRule ^packages-list/([0-9]+)$ controllers/developer/packages/list/packages-list.php?packages_listId=$1 [L]
RewriteRule ^packages-list/active/([0-9]+)$ controllers/developer/packages/list/active.php?packages_listId=$1 [L]
RewriteRule ^packages-list/page/([0-9]+)$ controllers/developer/packages/list/page.php?start=$1 [L]
RewriteRule ^packages-list/search$ controllers/developer/packages/list/search.php [L] 
RewriteRule ^packages-list/category-search$ controllers/developer/packages/list/search-category.php [L] 

# PACKAGES - DETAILS
RewriteRule ^packages-details$ controllers/developer/packages/details/packages-details.php [L]
RewriteRule ^packages-details/([0-9]+)$ controllers/developer/packages/details/packages-details.php?packages_detailsId=$1 [L]
RewriteRule ^packages-details/active/([0-9]+)$ controllers/developer/packages/details/active.php?packages_detailsId=$1 [L]
RewriteRule ^packages-details/page/([0-9]+)$ controllers/developer/packages/details/page.php?start=$1 [L]
RewriteRule ^packages-details/search$ controllers/developer/packages/details/search.php [L] 
RewriteRule ^packages-details/list-search$ controllers/developer/packages/details/search-list.php [L] 