RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

RewriteRule ^upload-photo$ core/upload-photo.php [L]
RewriteRule ^upload-multiple-photo$ core/upload-multiple-photo.php [L]

# HOME - BANNER
RewriteRule ^banner$ controllers/developer/home/banner/banner.php [L]
RewriteRule ^banner/([0-9]+)$ controllers/developer/home/banner/banner.php?home_bannerid=$1 [L]

# HOME - TESTIMONIALS
RewriteRule ^testimonials$ controllers/developer/home/testimonials/testimonials.php [L]
RewriteRule ^testimonials/([0-9]+)$ controllers/developer/home/testimonials/testimonials.php?home_testimonialid=$1 [L]

# HOME - INSIGHT
RewriteRule ^insights$ controllers/developer/home/insights/insights.php [L]
RewriteRule ^insights/([0-9]+)$ controllers/developer/home/insights/insights.php?home_insightsid=$1 [L]

# SPECIAL OFFERS
RewriteRule ^specialOffers$ controllers/developer/special-offers/specialOffers.php [L]
RewriteRule ^specialOffers/([0-9]+)$ controllers/developer/special-offers/specialOffers.php?special_offersid=$1 [L]

# Why FBS - EVENTS AND ACTIVITIES
RewriteRule ^eventsAndAct$ controllers/developer/events-and-activities/eventsAndActivities.php [L]
RewriteRule ^eventsAndAct/([0-9]+)$ controllers/developer/events-and-activities/eventsAndActivities.php?events_activitiesid=$1 [L]

# Why FBS - EVENTS AND ACTIVITIES
RewriteRule ^careers$ controllers/developer/careers/careers.php [L]
RewriteRule ^careers/([0-9]+)$ controllers/developer/careers/careers.php?careersid=$1 [L]

# Why FBS - EVENTS AND ACTIVITIES
RewriteRule ^lcssBatches$ controllers/developer/lcss-batches/lcssBatches.php [L]
RewriteRule ^lcssBatches/([0-9]+)$ controllers/developer/lcss-batches/lcssBatches.php?lcss_batchid=$1 [L]
RewriteRule ^lcssBatches/page/([0-9]+)$ controllers/developer/lcss-batches/page.php?start=$1 [L]
RewriteRule ^lcssBatches/search$ controllers/developer/lcss-batches/search.php [L]

# INDUSTRY TESTIMONIAL
RewriteRule ^indTestimonial$ controllers/developer/industry-testimonial/industryTestimonial.php [L]
RewriteRule ^indTestimonial/([0-9]+)$ controllers/developer/industry-testimonial/industryTestimonial.php?industry_testimonialid=$1 [L]
RewriteRule ^indTestimonial/page/([0-9]+)$ controllers/developer/industry-testimonial/page.php?start=$1 [L]
RewriteRule ^indTestimonial/search$ controllers/developer/industry-testimonial/search.php [L]

# INDUSTRY TESTIMONIAL
RewriteRule ^vid-testimonial$ controllers/developer/vid-testimonial/vidTestimonial.php [L]
RewriteRule ^vid-testimonial/([0-9]+)$ controllers/developer/vid-testimonial/vidTestimonial.php?vid_testimonialid=$1 [L]
RewriteRule ^vid-testimonial/page/([0-9]+)$ controllers/developer/vid-testimonial/page.php?start=$1 [L]
RewriteRule ^vid-testimonial/search$ controllers/developer/vid-testimonial/search.php [L]
