@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Reference color for dashboard
    dashPrimary: #F5F5F3
    dashSecondary: #ECECEC
    dashAccent: #CCCCCC  */

  :root {
    --dashPrimary-color: 245 245 243;
    --dashSecondary-color: 236 236 236;
    --dashAccent-color: 204 204 204;
  }

  * {
    @apply m-0 p-0 box-border;
  }
  *:focus {
    outline: none;
  }
  html {
    @apply font-poppins;
  }
  body {
    @apply overflow-x-hidden;
  }
  body .theNav.active {
    @apply overflow-hidden;
  }
  input[type="text"],
  input[type="email"] {
    @apply bg-customGray h-8 p-1 text-xs text-dark;
  }
  textarea {
    @apply bg-customGray w-full h-20 resize-none text-sm;
  }
  select {
    @apply bg-customGray h-8 p-1 text-sm text-dark;
  }
  /* * {
    @apply outline outline-primary;
  } */
  table {
    @apply border-collapse border-spacing-2 text-left w-full table-auto;
  }
  table tr:hover {
    @apply bg-[#f3f4f6];
  }
  table tr {
    @apply border-b border-solid border-[#d1d5db];
  }
  table th {
    @apply font-semibold bg-[#d1d5db] py-1 pr-3 capitalize text-xs;
  }
  table td {
    @apply py-2 pr-3 text-[12px];
  }
  label {
    @apply text-primary text-[clamp(10px,3vw,12px)];
  }
  input,
  select {
    @apply border border-solid border-[#d1d5db] p-2 rounded-lg w-full h-[36px] truncate bg-none outline-none text-xs;
  }
  textarea {
    @apply block border border-solid border-[#d1d5db] p-2 rounded-lg w-full min-h-28 resize-y bg-none outline-none text-xs;
  }
  label {
    @apply text-xs text-[black] transform -translate-y-6 -translate-x-1 absolute left-3 top-4 px-1 z-10 isolate capitalize;
  }
  label:after {
    @apply content-[''] w-[97%] h-[2.5px] absolute left-px top-[7.2px] bg-[white] -z-10;
  }
  input:disabled,
  select:disabled,
  textarea:disabled,
  :disabled {
    @apply bg-[gray-100] border-[#e5e7eb] cursor-not-allowed hover:bg-[gray-100] hover:text-[inherit] hover:border-[#e5e7eb];
  }
  input::file-selector-button {
    @apply mr-5 border-0 bg-primary disabled:bg-[#e5e7eb] rounded-md text-[white] cursor-pointer px-1 py-0;
  }
  input:focus,
  select:focus,
  textarea:focus {
    @apply border border-solid border-primary outline-0;
  }
  table.prices {
    @apply border-collapse border-spacing-2 text-left w-full table-auto;
  }
  table.prices tr:hover {
    @apply bg-[transparent];
  }
  table.prices tr {
    @apply border-b border-none;
  }
  table.prices th {
    @apply font-semibold bg-[#d1d5db] py-1 pr-3 capitalize text-xs;
  }
  table.prices td {
    @apply text-[16px] !p-[2px];
  }
  .theMessage {
    @apply lg:-translate-y-10;
  }
}

@layer components {
  .customContainer {
    @apply w-[1366px] mx-auto px-5 md:px-10;
  }
  .btn {
    @apply inline-block py-4 px-8 rounded-full text-center;
  }
  .textGradient {
    @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-[transparent];
  }
  .toggleNav span {
    @apply block w-[10px] h-[3px] bg-dark transition-all;
  }
  .toggleNav span:nth-child(2) {
    @apply w-[px] absolute top-0 left-[50%] rounded-r-full;
  }
  .toggleNav span:nth-child(1) {
    @apply w-[px] absolute top-0 rounded-l-full;
  }
  .toggleNav span:nth-child(4) {
    @apply w-[px] absolute bottom-0 rounded-l-full;
  }
  .toggleNav span:nth-child(3) {
    @apply w-[20px] my-1 rounded-full;
  }
  .toggleNav span:nth-child(5) {
    @apply w-[10px] absolute bottom-0 left-[50%] rounded-r-full;
  }
  .toggleNav.active span:nth-child(5) {
    @apply w-[13px] absolute bottom-0 rotate-45 -translate-y-[4px]  -translate-x-[1px] left-[50%] rounded-full;
  }
  .toggleNav.active span:nth-child(4) {
    @apply w-[13px] absolute bottom-0 -rotate-45 -translate-y-[4px]   rounded-full;
  }
  .toggleNav.active span:nth-child(1) {
    @apply w-[13px] absolute top-0 rotate-45 translate-y-[4px]   rounded-full;
  }
  .toggleNav.active span:nth-child(2) {
    @apply w-[13px] absolute top-0 -rotate-45 translate-y-[4px]  -translate-x-[1px]  rounded-full;
  }
  .toggleNav.active span:nth-child(3) {
    @apply opacity-0;
  }

  .slickNav ul li.slick-active div {
    @apply !bg-[#ac1f72] !opacity-100;
  }

  .slickNavHome ul li.slick-active div {
    @apply !bg-[white] !opacity-100;
  }
  .serviceIcon svg {
    @apply group-hover:fill-[white] fill-[#6a1141];
  }
  .addRadialGradient {
    background: radial-gradient(circle at top 20% left 20%, #6a1141, #ac1e72);
  }
  .bg {
    color: #4d0d2f;
  }
  .bgGradientBlack {
    background: radial-gradient(500px, #585858, #000000);
  }
  .footerGradientBlack {
    background: radial-gradient(500px, #ac1e72, #000000);
  }
  .radialGradient {
    background: radial-gradient(200px, #ac1e71b0, #000000);
  }
  .addShadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .theNav ul {
    @apply absolute md:static bg-light right-[-100%] top-[57px] w-full z-[5] transition-all;
  }
  .theNav ul li {
    @apply border-t border-t-customGray border-b-customGray md:border-t-0 cursor-pointer;
  }
  .theNav ul li a {
    @apply py-3 px-11 md:px-3 lg:px-11 w-full;
  }
  .theNav.active ul {
    @apply right-0 backdrop-brightness-0 transition-all overflow-hidden;
  }
  .megaMenu {
    @apply fixed h-screen right-[-100%] lg:right-auto top-[58px]  transition-all border-t border-t-customGray  md:top-[96px]  lg:left-[50%]  lg:translate-x-[-50%] z-[11] w-full  lg:rounded-br-xl  lg:rounded-bl-xl;
  }
  .megaMenu.active {
    @apply right-0 transition-all duration-200 lg:fixed z-[999];
  }
  .megaMenu {
    @apply h-[100%] lg:h-auto;
  }

  .megaMenu .holder {
    @apply h-[100%] lg:h-auto;
  }

  .megaMenu .menuItem {
    @apply overflow-hidden;
  }
  .megaMenu .menuItem ul li {
    @apply mb-1 hover:text-primary transition-all cursor-pointer;
  }
  .megaMenu .menuItem {
    @apply overflow-hidden;
  }
  .addShadow {
    box-shadow: rgba(99, 99, 99, 0.35) 0px 2px 8px 0px;
  }
  .bgGradientRadialButtonleft {
    background: radial-gradient(500px, #585858, #000000);
  }
  .accordionContent {
    @apply bg-customGray;
  }
  .slick-slider {
    padding: 20px !important;
  }
  .addEntrance {
    animation: mymove 2s;
  }
}

@layer components {
  /* Modals */
  .btn-modal-submit {
    @apply flex items-center justify-center text-[white] gap-2 px-3 py-1.5 bg-primary rounded-md border-primary border hover:bg-secondary hover:text-[white] hover:border-[#d1d5db] duration-300 ease-in w-full;
  }
  .btn-modal-submit:disabled {
    @apply opacity-50 hover:bg-primary hover:text-[white];
  }
  .btn-modal-cancel {
    @apply flex items-center justify-center text-[black] gap-2 px-3 py-1.5 bg-[white] rounded-md border-[#d1d5db] border w-full;
  }
  .btn-modal-cancel:disabled {
    @apply opacity-50 hover:bg-[white] hover:text-[black] hover:border-[#d1d5db];
  }
  .modal {
    @apply transition-all opacity-0;
  }
  .modal > .animate-slideUp {
    @apply translate-y-3 transition-all;
  }
  .modal.show {
    @apply bg-[black/50] opacity-100;
  }
  .modal.show > .animate-slideUp {
    @apply translate-y-0;
  }
  .modal-wrapper {
    @apply bg-[white] h-[650px] flex flex-col max-w-[1000px] w-full p-5 place-self-center rounded-lg;
  }
  .modal-wrapper-menu {
    @apply bg-[white] h-full flex flex-col max-w-[506px] w-full p-5;
  }
  .modal-title {
    @apply flex justify-between items-center text-sm;
  }
  .modal-content {
    @apply overflow-y-auto flex flex-col justify-between h-full;
  }
  .modal-form {
    @apply flex flex-col justify-between h-full;
  }
  .input-wrapper {
    @apply mb-2 my-[20px] relative flex flex-col gap-2;
  }
  .form-btn {
    @apply flex gap-2 pt-4;
  }
  .btnImgUpload button {
    @apply text-2xl text-[white] bg-[black] bg-opacity-50 transition-all opacity-0 group-hover:opacity-40 w-full grid place-items-center h-full absolute top-0 left-0;
  }
  .postContent p {
    @apply pb-4;
  }
  .postItem:first-child {
    @apply md:row-span-2 h-full;
  }
  .postItem:first-child .blogItem {
    @apply h-[267px] md:h-[550px];
  }
}

@layer utilities {
  span.error-show {
    @apply text-[11px] absolute right-1 -bottom-5 text-[red] italic z-40;
  }
  input.error-show,
  select.error-show,
  textarea.error-show {
    @apply border border-[red-500];
  }
  label.error-show {
    @apply text-[red-500];
  }
  .tooltip-action-table {
    @apply relative p-1 bg-none leading-none;
  }
  .tooltip-action-table::after {
    @apply content-[attr(data-tooltip)] capitalize absolute -translate-x-2/4 bottom-full -top-[24px] bg-dark/80 text-[white] p-1 rounded-sm h-fit leading-none z-20 whitespace-nowrap text-center opacity-0 text-[10px] pointer-events-none transition ease-linear scale-0 duration-75 left-1/2;
  }
  .tooltip-action-table:hover::after {
    @apply scale-100 opacity-100;
  }
  /* mobile tool-tip */
  .tooltip-phone {
    @apply bg-none leading-none;
  }
  .tooltip-phone::after {
    @apply content-[attr(data-tooltip)] capitalize absolute -translate-x-2/4  bottom-[35px] bg-dark/80 text-[white] p-1 -ml-3 rounded-sm h-fit leading-none z-20 whitespace-nowrap text-center opacity-0 text-[10px] pointer-events-none transition ease-linear scale-0 duration-75 right-[-10px] -top-0.5;
  }
  .tooltip-phone:hover::after {
    @apply scale-100 opacity-100;
  }

  .search {
    @apply flex items-center justify-end w-full lg:w-[25rem] relative my-3;
  }
  .search-icon {
    @apply text-[gray] text-[16px] absolute left-0 h-full flex items-center px-2;
  }
  .search input {
    @apply border-[1px] border-[gray] text-xs pl-7;
  }
  .search input:focus {
    @apply outline-none border-primary;
  }
}

.addShadowDash {
  /* box-shadow: 0px 0px 9px 3px rgb(106, 17, 65, 0.85); */
  box-shadow: 0px 0px 9px 3px rgb(207, 208, 212, 0.85);
}

@keyframes mymove {
  from {
    transform: translateX(20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1366px) {
  .customContainer {
    @apply w-full;
  }
}

@media screen and (max-width: 980px) {
  .footerGradientBlack {
    background: radial-gradient(250px, #ac1e72, #000000);
  }
}

/* .slick-slider .slick-list {
  padding-top: 100px;
} */

.slick-slider {
  width: 100% !important;
}

img.popPost {
  width: 80px !important;
  height: 60px !important;
}

@media screen and (min-width: 370px) {
  .slick-track {
    display: flex !important;
    align-items: center !important;
  }
}

.transYclamp {
  transform: translateY(clamp(5rem, 12vw, 8rem));
}

textarea {
  resize: none;
}
